body {
  overflow-x: hidden;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

.w-100{
  width: 100%;  
}

.d-flex {
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-title{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;    
}

.container-title h1 {
  font-size: 60px;
  font-family: Montserrat-Medium, sans-serif;
  color: #3498db;
}

.container-filtragem {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-title input {
  display: block;
  width: 30%;
  height: 30px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container-filtragem button{
  margin: 5px;
  width: 5rem;  
  height: 2.5rem;
}

.app {
  opacity: 0;
  transition: all .4s ease-in-out;
}

.app.enable {
  opacity: 1;
}

.container-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #f1f1f6;
  padding: 5px 20px 20px;
  width: 70%;  
}

.card {
  padding: 20px;
  min-width: 200px;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  width: 25%;
  background: #e1ccec;
  margin: 20px 5px 5px 5px;
}

.card-title {
  font-family: Montserrat-Regular, sans-serif;
}

.card-title p {
  font-size: 12px;
  color: #000;
}

.card-title h3 {
  color: #000;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 35%;
}

.loader.disable {
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}